.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; /* Change to column */
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.inputField {
  width: calc(100% - 20px); /* Adjusted to accommodate padding */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.button {
  background-color: #990000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #990000;
}

.propertyText {
  color: black;
}

.propertyTitle {
  color: black;
  margin-top: 0;
}

.image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
