.page {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 60px;
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form {
  width: 100%;
  position: relative;
  padding-bottom: 60px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  width: calc(33.33% - 20px);
  margin-right: 10px;
  margin-bottom: 20px;
}

.column:last-child {
  margin-right: 0;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.button {
  background-color: #990000;
  color: white;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: calc(100% - 40px);
  max-width: 300px;
}

.button:hover {
  background-color: #990000;
}

.propertyText {
  color: black;
}

.propertyTitle {
  color: black;
  margin-top: 0;
  font-weight: 500;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: 200px; 
  height: 200px; 
  margin: 10px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
}

.otherAmenitiesContainer {
  width: calc(100% - 40px);
  max-width: 1200px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.radioContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radioContainer input[type="radio"] {
  margin-right: 5px;
}

.radioContainer label {
  margin-right: 10px;
  color: black;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}


@media (max-width: 768px) {
  .columns {
    flex-wrap: wrap;
  }

  .column {
    flex: 1 1 100%; 
    width: 100%;
    margin-right: 0;
  }

  .column:nth-child(odd) {
    margin-right: 0;
  }

  .fullWidth {
    width: 100%;
    margin-right: 0;
  }
  .checkboxContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .checkboxContainer > div {
    flex-basis: 50%;
    width: 50%;
    margin-bottom: 10px;
  }
  .button {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 20px auto 0;
    width: calc(100% - 40px);
    max-width: 300px;
  }
}
