.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: inherit;
  text-align: center;
  font-size: 1.85rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
  color: black;
  margin: 100px 0;
}

