/* styles/Footer.module.css */

.footer {
    background-color: #990000;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
  }
  
  .column h3 {
    margin-bottom: 10px;
  }
  
  .column p {
    margin: 0;
  }
  