.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
}

.propertyCard {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000; 
  border-radius: 5px;
}

.propertyImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.propertyDetails {
  margin-top: 10px;
}

.propertyDetails h2,
.propertyDetails p {
  color: #000;
}

.contactButton {
  background-color: #990000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contactButton:hover {
  background-color: #990000;
}
