.container {
  padding-top: 5rem;
}

.propertyCard {
  width: calc(100% - 40px);
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.leftContainer {
  flex: 0 0 300px;
  padding: 20px;
}

.rightContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.imageContainer {
  width: 100%;
}

.propertyImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.hotelInfo {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.infoItem {
  width: calc(50% - 1px);
  padding: 10px;
  border-right: 1px solid #ccc;
  color: #000;
}

.infoItem:last-child {
  border-right: none;
}

.contactButton {
  align-self: flex-end;
  margin-top: 10px;
  background-color: #990000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contactButton:hover {
  background-color: #990000;
}
